body {
    background-color: rgb(25, 115, 179);
    font-size: 22px;
}
#guide {
    text-align: center;
    margin-top: auto;
    
}
/* guide inline block  强制居中，取自父级*/
#guide li {
    display: inline-block;
    margin: 5px;
}
#guide li a {

    background-color: rgba(82, 25, 181, 0.4)    ;
    opacity: 0.8;
    color: white;
    
}
#content{
    font-family: "Ma Shan Zheng", cursive;

}

#main_text{
    display : block;
    margin: auto 0;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: hsla(282, 38%, 29%, 0.8);
    color: hsla(172, 90%, 46%, 0.8);
}

#Gothweb{
    color: rgba(255, 255, 0, 0.8);
    font-weight: bold;
    font-size: 25px;
}
.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}
