* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
     height: 100%;
      margin: 0;
      background: linear-gradient(0deg,#112d4e , #3f72af, #dbe2ef);
      display: flex;
      font-family: sans-serif;
}