* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    background: linear-gradient(to right, #a8d8ea, #aa96da,#fcbad3) ;
    font-family: 'Arial', sans-serif;
}


.container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 1rem;
}